<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveIts >= 0,
                'list-group-item-danger': loveIts < 0}">
    <h2 id="title"> {{title}}</h2>
    <div id="date">{{created_at | date: 'short'}}</div>
    <p> {{content}}</p>
    <button class="btn btn-success" (click)="onLoveIt()"> Love it ({{loveIts}})</button>
    <button class="btn btn-danger" (click)="onDontLoveIt()"> Don't love it </button>
</li>