:host {
    display: block;
    left: 0;
    width: 500px;   
}

#title{
    float: left;
    padding: 0px;
}

p {
    margin-top: 23px;
}

#date{
    font-style: italic;
    color: gray;
    text-align: end;
}

button{
    margin-right: 3px;    
    left: 0;
}