<ul class="list-group">
    <app-post-list-item *ngFor="let post of posts"
                        [title] = "post.title"
                        [content] = "post.content"
                        [loveIts] = "post.loveIts"
                        [created_at] = "post.created_at"></app-post-list-item>
</ul>